site_name: OpenReservoirComputing Documentation
site_description: GPU accelerated implementations of common RC architectures
site_author: Dima Tretiak, Jan P. Williams
site_url: https://Jan-Williams.github.io/OpenReservoirComputing/

repo_name: Jan-Williams/OpenReservoirComputing
repo_url: https://github.com/Jan-Williams/OpenReservoirComputing

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: custom
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: custom
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy
            show_source: true
            show_root_heading: true
            show_root_full_path: false
            merge_init_into_class: true
            separate_signature: true
            show_signature_annotations: true
            signature_crossrefs: true
  - mkdocs-jupyter:
      execute: false
      allow_errors: false
      include_source: true

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - attr_list
  - md_in_html
  - toc:
      permalink: true

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

# Copy static files to the docs site
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Jan-Williams/OpenReservoirComputing

# Include additional directories
docs_dir: docs
site_dir: site

# Copy additional files
extra_files:
  - imgs/

nav:
  - Home: index.md
  - Getting Started:
      - Installation: getting-started/installation.md
      - Quick Start: getting-started/quickstart.md
  - User Guide:
      - Overview: user-guide/overview.md
      - Drivers: user-guide/drivers.md
      - Embeddings: user-guide/embeddings.md
      - Readouts: user-guide/readouts.md
      - Models: user-guide/models.md
  - Examples:
      - Lorenz System: examples/lorenz.ipynb
      - RC Background: examples/rc_background.ipynb
  - API Reference:
      - Models: api/models.md
      - RC Base Classes: api/rc.md
      - Drivers: api/drivers.md
      - Embeddings: api/embeddings.md
      - Readouts: api/readouts.md
      - Data: api/data.md
      - Utils: api/utils.md
  - Contributing: contributing.md
