name: CI

on:
    pull_request:
      branches:
        - main
        
jobs:
  run-tests:
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: ./tests/requirements_dev.txt

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]

    - name: Format check with ruff
      run: |
        ruff check --output-format=github

    - name: Test with pytest
      run: |
        pytest --junitxml=junit/test-results-${{ matrix.os }}-py${{ matrix.python-version }}.xml --cov=orc

    - name: Show coverage report
      run: |
        coverage report 

    - name: Test Summary
      uses: test-summary/action@v2
      with:
        paths: "junit/*.xml"
      if: always()