name: Run tests

on:
    push:
      branches:
        - ci_tests 
        
jobs:
  run-tests:
    strategy:
      matrix:
        python-version: ["3.10", "3.12"]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r ./tests/requirements_dev.txt
    - name: Format check with ruff
      run: |
        ruff check --output-format=github
    - name: Test with pytest
      run: |
        pip install .
        pytest --doctest-modules --junitxml=junit/test-results.xml --cov=com --cov-report=xml --cov-report=html